body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #19191a, #692fc3, #5e60ce, #5390d9, #4fa8de, #55cfe1, #72efdd);
}

.headerMain {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: #342b66; 
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.instructionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stepOne, 
.stepTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid #80ffdb;
    width: 225px;
    margin: 5px;
    
}

.textMain {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color:#80ffdb; 
    margin: 10px;
    padding: 0px;
}

button {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #80ffdb;
    background-color: #5390d9;
    margin-left: 10px;
    padding: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    
}

.containerFlex {
    display: flex;
    justify-content: center;
}
.sketchContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 700px;
    height: 700px;
    margin-bottom: 30px;
}   

.divs {
    display: inline-block;
    border: 1px solid #80ffdb;
    margin: -1px 0 0 -1px;  
}

.colorModes {
    display: flex;
    justify-content: center;
}

.startGrid {
    display: inline-block;
    border: 1px solid #80ffdb;
    height: 171px;
    width: 171px;    
    margin: -1px 0 0 -1px;  
}


